doctype html
body(style="background-color: lightblue;")

  h1(style="color: tomato; background-color: lightgreen")= subject

  p Thank you, #{to}, for signing up for our service.

  small The Management
